.menu{
  margin: 30px;
  padding: 20px;
  text-align: center;
}
.mid{
  list-style-type: lower-alpha;
  margin: 30px;
  padding: 20px;
  text-align: center;
  background-color: lawngreen;
}

.der{
  list-style-type: lower-alpha;
  margin: 30px;
  padding: 20px;
  text-align: right;
  background-color: lawngreen;
}

.izq{
   list-style-type: lower-alpha;
   margin: 30px;
   padding: 20px;
   text-align: left;
   background-color: lawngreen;
 }
.header{
  font-style: italic;
  text-align: center;
  font-size: larger;
}

.campo{
  font-style: italic;
  border-radius: 1.5em;
  text-align: center;
}
