<body bgcolor="#696969">
  <header class="header">
    <h1> BusApp </h1>
  </header>
  <div class="menu">
  {{#link-to 'registrar-usuario'}}
      <strong class="der">Registrar usuario</strong>
  {{/link-to}}

  {{#link-to 'editar-usuario'}}
    <strong class="menu">Editar usuario</strong>
  {{/link-to}}

  {{#link-to 'eliminar-usuario'}}
      <strong class="izq">Eliminar usuario</strong>
  {{/link-to}}
  </div>

  <div class="header">
    <h1>Bienvenido administrador</h1>
  </div>
</body>

{{outlet}}