<body bgcolor="#696969">
  <header class="header">
    <h1> Editar usuario </h1>
  </header>
  <div class="header">
    <p>Indique el número de cédula que desea usar</p>
    <p>{{input type="text" value=code}}</p>
    <strong><button    class="menu" {{action 'wrongField'}} >Buscar cliente</button>
    	<p>Prueba:{{prueba}}</p>
    </strong>
  </div>

  <div class="header">
    
  </div>
</body>

{{outlet}}