<body bgcolor="#696969">
  <header class="header">
    <h1> Editar usuario </h1>
  </header>
  <div class="header">
    <p>Indique el número de cédula que desea usar</p>
    <p>{{input type="text"}}</p>
    {{input type="button" value="Buscar usuario"  class="menu" }}
  </div>

  <div class="header">
    
  </div>
</body>

{{outlet}}