<body bgcolor="#696969">
    <header class="header">
        <h1> Eliminar usuario </h1>
    </header>
    <form>
        <label>Digite cédula del usuario</label>
        <input type="text">
    </form>
</body>