<body bgcolor="#696969">
    <header class="header">
        <h1> Eliminar usuario </h1>
    </header>
    <form class="form">
        <p>Digite cédula del usuario</p>
        <p>{{input type="text"}}</p>
        <button type="btn_delete" value="Buscar usuario"  class="btn_delete" {{action 'openForm' book}}>Buscar usuario</button>        
    </form>
</body>