<body bgcolor="#696969">
  <header class="header">
    <h1> Generar Reporte </h1>
  </header>
  <form>
    <button class="mid" {{action 'registrar'}}>Finalizar registro</button>
  </form>
</body>
{{outlet}}