<body bgcolor="#696969">
    <header class="header">
        <h1> Login </h1>
    </header>
   <div class="form">
        <label>User Name</label>
        {{input value=email}}
    </div>
    <div class="form">
        <label>Password</label>
        {{input value=password type="password"}}
    </div>
    <div class="form">
        <button class="mid" {{action 'login' 'password'}}>Login</button>
    </div>
    
</body>

{{outlet}}

