<head>
  <header class="header">
    <h1> BusApp </h1>
  </header>
</head>
<body bgcolor="#696969">
  <div class="header">
    <h2>Bienvenido Operador</h2>
  </div>

  <div class="menu">
  {{#link-to 'registrar-bus'}}
      <strong class="der">Registrar Bus</strong>
  {{/link-to}}

  {{#link-to 'editar-bus'}}
    <strong class="mid">Editar Bus</strong>
  {{/link-to}}

  {{#link-to 'eliminar-bus'}}
      <strong class="izq">Eliminar Bus</strong>
  {{/link-to}}

  {{#link-to 'revisar-reporte'}}
      <strong class="izq">Revisar Reporte</strong>
  {{/link-to}}

  {{#link-to 'registrar-ruta'}}
      <strong class="izq">Revisar Ruta</strong>
  {{/link-to}}
  </div>
  
</body>

{{outlet}}