<head>
  <header class="header">
    <h1> BusApp </h1>
  </header>
</head>
<body bgcolor="#696969">
  <div class="header">
    <h2>Bienvenido Operador</h2>
  </div>

  <div class="menu">
  
  {{#link-to 'registrar-bus'}}
      <strong class="der">Registrar bus</strong>
  {{/link-to}}

  {{#link-to 'editar-bus'}}
    <strong class="mid">Editar bus</strong>
  {{/link-to}}

  {{#link-to 'eliminar-bus'}}
      <strong class="izq">Eliminar bus</strong>
  {{/link-to}}
  
  {{#link-to 'registrar-ruta'}}
      <strong class="mid">Registrar ruta</strong>
  {{/link-to}}
  
  {{#link-to 'revisar-reporte'}}
      <strong class="izq">Revisar Reporte</strong>
  {{/link-to}}
  
  </div>
    <header class="header">
        <h1> Registrar bus </h1>
    </header>
  <form>
    <br>
    <p> 
      <input class="campo" type="text" id="placa" onfocus="if (this.value=='Placa del vehículo') this.value = ' '" onblur="if (this.value==' ') this.value = 'Placa del vehículo'" value="Placa del vehículo" size="80">
    </p>
    <p> 
      <input class="campo" type="text" id="marca" onfocus="if (this.value=='Marca') this.value = ' '" onblur="if (this.value==' ') this.value = 'Marca'" value="Marca" size="80">
    </p> 
    <p> 
      <input class="campo" type="text" id="modelo" onfocus="if (this.value=='Modelo') this.value = ' '" onblur="if (this.value==' ') this.value = 'Modelo'" value="Modelo" size="80">
    </p>
    
    <p>Seleccione la fecha de la última revisión
      <input class="campo" type="date" id="fr">
    </p>
    <div class="menu">
      <button class="mid" {{action 'registrar'}}>Finalizar registro</button>
      
    </div>
  </form>
</body>
{{outlet}}