<body bgcolor="#696969">
<header class="header">
  <h1> Registrar usuario </h1>
</header>
  <form action="">
    <input type="radio" name="type" value="operador" checked="checked">Operador
    <input type="radio" name="type" value="conductor">Conductor<br>
    <p> </p>
    <input type="text" onfocus="if (this.value=='Nombre completo') this.value = ' '" onblur="if (this.value==' ') this.value = 'Nombre completo'" value="Nombre completo" size="80">
    <input type="text" onfocus="if (this.value=='Grupo Sanguíneo (A,B,O,AB)') this.value = ' '" onblur="if (this.value==' ') this.value = 'Grupo Sanguíneo (A,B,O,AB)'" value="Grupo Sanguíneo (A,B,O,AB)" size="80">
    <p> </p>
    <input type="text" onfocus="if (this.value=='Cédula') this.value = ' '" onblur="if (this.value==' ') this.value = 'Cédula'" value="Cédula" size="80">
    <input type="text" onfocus="if (this.value=='Rh (+ , -)') this.value = ' '" onblur="if (this.value==' ') this.value = 'Rh (+ , -)'" value="Rh (+ , -)" size="80">
    <p> </p>
    <input type="password" onfocus="if (this.value=='Contraseña') this.value = ' '" onblur="if (this.value==' ') this.value = 'Contraseña'" value="contraseña" size="80">
    <input type="text" onfocus="if (this.value=='Número de contacto') this.value = ' '" onblur="if (this.value==' ') this.value = 'Número de contacto'" value="Número de contacto" size="80">
    <p> </p>
    <input type="text" onfocus="if (this.value=='Fecha de nacimiento') this.value = ' '" onblur="if (this.value==' ') this.value = 'Fecha de nacimiento'" value="Fecha de nacimiento" size="80">
    Fotografía: <input name="fichero" type="file">
    <p> </p>
    <input type="text" onfocus="if (this.value=='Dirección') this.value = ' '" onblur="if (this.value==' ') this.value = 'Dirección'" value="Dirección" size="80">
    <p> </p>
    <input type="text" onfocus="if (this.value=='Teléfono') this.value = ' '" onblur="if (this.value==' ') this.value = 'Teléfono'" value="Teléfono" size="80">
  </form>
</body>




{{outlet}}