<head>
  <header class="header">
    <h1> BusApp </h1>
  </header>
</head>
<body bgcolor="#696969">
  <div class="header">
    <h2>Bienvenido administrador</h2>
  </div>
  <div class="menu">
    {{#link-to 'registrar-usuario'}}
      <strong class="der">Registrar usuario</strong>
    {{/link-to}}
  
    {{#link-to 'editar-usuario'}}
      <strong class="mid">Editar usuario</strong>
    {{/link-to}}

    {{#link-to 'eliminar-usuario'}}
      <strong class="izq">Eliminar usuario</strong>
    {{/link-to}}
  </div>
  <header class="header">
    <h1> Registrar usuario </h1>
  </header>
  <form>
    <input type="radio" name="tipo" value="operador" checked>Operador
    <input type="radio" name="tipo" value="conductor">Conductor<br>
    <p> </p>
    <input class="campo" type="text" id="nombre" onfocus="if (this.value=='Nombre completo') this.value = ' '" onblur="if (this.value==' ') this.value = 'Nombre completo'" value="Nombre completo" size="80">
    <input class="campo" type="text" id="gs" onfocus="if (this.value=='Grupo Sanguíneo (A,B,O,AB)') this.value = ' '" onblur="if (this.value==' ') this.value = 'Grupo Sanguíneo (A,B,O,AB)'" value="Grupo Sanguíneo (A,B,O,AB)" size="80">
    <p> </p>
    <input class="campo" type="text" id="cc" onfocus="if (this.value=='Cédula') this.value = ' '" onblur="if (this.value==' ') this.value = 'Cédula'" value="Cédula" size="80">
    <input class="campo" type="text" id="rh" onfocus="if (this.value=='Rh (+ , -)') this.value = ' '" onblur="if (this.value==' ') this.value = 'Rh (+ , -)'" value="Rh (+ , -)" size="80">
    <p> </p>
    <input class="campo" type="text" id="pass" onfocus="if (this.value=='Contraseña') this.value = ''; this.type='password'" onblur="if (this.value=='') {this.value = 'Contraseña'; this.type = 'text';} else{this.type='password'}" value="Contraseña" size="80">
    <input class="campo" type="text" id="nc" onfocus="if (this.value=='Número de contacto') this.value = ' '" onblur="if (this.value==' ') this.value = 'Número de contacto'" value="Número de contacto" size="80">
    <p> </p>
    <input class="campo" type="text" id="tel" onfocus="if (this.value=='Teléfono') this.value = ' '" onblur="if (this.value==' ') this.value = 'Teléfono'" value="Teléfono" size="80">
    <input class="campo" type="text" id="foto" onfocus="if (this.value=='Ingrese el URL de la fotografía') this.value = ' '" onblur="if (this.value==' ') this.value = 'Ingrese el URL de la fotografía'" value="Ingrese el URL de la fotografía" size="80">
    <p> </p>
    <input class="campo" type="text" id="dire" onfocus="if (this.value=='Dirección') this.value = ' '" onblur="if (this.value==' ') this.value = 'Dirección'" value="Dirección" size="80">
    <p>Seleccione la fecha de nacimiento
      <input class="campo" type="date" id="fn"></p>
    <div class="menu">
      <button class="mid" {{action 'registrar'}}>Finalizar registro</button>
      {{#each cedulas as | cedula |}}
        {{cedula.nombre}}
        {{cedula.telefono}}
      {{/each}}
    </div>
  </form>
</body>
{{outlet}}