<head>
  <header class="header">
    <h1> BusApp </h1>
  </header>
</head>
<body bgcolor="#696969">
  <div class="header">
    <h2>Bienvenido Operador</h2>
  </div>

  <div class="menu">
  {{#link-to 'registrar-bus'}}
      <strong class="der">Registrar bus</strong>
  {{/link-to}}

  {{#link-to 'editar-bus'}}
    <strong class="mid">Editar bus</strong>
  {{/link-to}}

  {{#link-to 'eliminar-bus'}}
      <strong class="izq">Eliminar bus</strong>
  {{/link-to}}

  {{#link-to 'registrar-ruta'}}
      <strong class="mid">Registrar ruta</strong>
  {{/link-to}}
  

  {{#link-to 'revisar-reporte'}}
      <strong class="izq">Revisar Reporte</strong>
  {{/link-to}}
  </div>
    <header class="header">
        <h1> Revisar Reporte </h1>
    </header>
  
</body>
{{outlet}}